.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.post-card-line{
  display: flex;
  flex-wrap: wrap;
}
.post-card-box {
  max-width: 33.33%;
  width: 100%;
}

/*post-card-1*/
.post-card-1 {
  border: 1px solid var(--secondary-border-color);
  z-index: 12;
  transition: all .25s cubic-bezier(.02,.01,.47,1);
  position: relative;
  background: #fff;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.post-card-1::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 0;
  left: 10px;
  border-radius: 10px;
  box-shadow: var(--box-shadow-normal),0 0 0 transparent;
  transition: all .25s cubic-bezier(.02,.01,.47,1);
  z-index: -1;
}

.post-card-1 .thumb-overlay {
  min-height: 220px;
  border-radius: 10px 10px 0 0;
}
.post-card-1 img{
  height: 100%;
  min-height: 220px;
  max-height: 220px;
  width: 100%;
  object-fit: cover;
}
.post-card-1 .post-content {
  background: #fff;
  border-radius: 0 0 10px 10px;
}

.post-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  min-height: 115px;
}

.post-card-1 .top-right-icon {
  top: 20px;
  right: 20px;
}

.post-card-1 .top-left-icon {
  top: 20px;
  left: 20px;
}

.img-link {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.img-link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.post-card-1 .thumb-overlay {
  min-height: 220px;
  border-radius: 10px 10px 0 0;
}
.img-hover-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 280px;
  overflow: hidden;
}
.border-radius-10 {
  border-radius: 10px;
}
.post-card-1 .post-content {
  background: #fff;
  border-radius: 0 0 10px 10px;
}
.p-30 {
  padding: 30px!important;
}
.mb-10 {
  margin-bottom: 10px!important;
}
.entry-meta {
  line-height: 1;
  color: #666;
}
.font-small {
  font-size: 12px;
}
a {
  color: #687385;
}
.post-module-1 .post-content-overlay .entry-meta span.post-cat, .entry-meta.meta-0 span.post-cat {
  padding-right: 7px;
  margin-right: 10px;
  font-weight: bold;
  color: #666;
}
.entry-meta.meta-0 span {
  position: relative;
}
.text-info {
  color: #4da7d4 !important;
}
.post-module-1 .post-content-overlay .entry-meta span.post-cat::after, .entry-meta.meta-0 span.post-cat::after {
  content: "";
  width: 3px;
  height: 3px;
  background: #999;
  position: absolute;
  right: 0;
  bottom: 3px;
  border-radius: 50%;
}
.text-success {
  color: var(--color-success)!important;
}
.post-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  min-height: 115px;
}
.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}
a:focus, a:hover, .portfolio-cat a:hover, .footer -menu li a:hover {
  text-decoration: none;
}
a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.post-title {
  margin-top: 0;
  text-align: left;
  color: #000;
  margin-bottom: 15px !important  ;
}
.post-title  a {
  color: #212529;
  font-weight: bold;
}
.font-weight-900 {
  font-weight: 900;
}
h1, h2, h3, h4, h5, h6, .font-heading, .btn, .post-title {
  font-style: normal;
  font-weight: 500;
  text-transform: none;
  font-family: 'Noto Sans JP',sans-serif;
}
.h5, h5 {
  font-size: 1.25rem;
}
span.has-dot::before {
  content: "";
  width: 3px;
  height: 3px;
  background: #999;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  display: block;
  left: -3px;
  border-radius: 50%;
}
span.has-dot {
  position: relative;
  padding-left: 10px;
}
.entry-meta.meta-1 span {
  margin-right: 10px;
}
.post-excerpt {
  margin-top: 0;
  margin-bottom: 15px;
  color: var(--color-muted)!important;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  line-height: 18px
}
.post-excerpt p {
  margin-top: 0;
}
.entry-meta span{
  font-size: 12px !important;
}






@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400&family=Noto+Sans+JP:wght@400;500;700;900&display=swap'); :root {
  --color-mode: "light";
  --color-primary: #5869DA;
  --color-secondary: #2d3d8b;
  --color-success: #09815C;
  --color-danger: #e3363e;
  --color-warning: #e38836;
  --color-info: #4da7d4;
  --color-light: #f8f9f9;
  --color-grey: #f7f8f9;
  --color-dark: #000c2d;
  --color-muted: #687385;
  --color-white: #FFFFFF;
  --primary-border-color: #9b9b9b;
  --secondary-border-color: #f0f8ff;
  --mutted-border-color: #eaecee;
  --box-shadow-normal: 0 10px 10px rgba(0,0,0,0.08);
  --box-shadow-hover: 0 4px 60px 0 rgba(0,0,0,0.2);
  --button-shadow-color-normal: hsla(0,0%,42.4%,0.2);
  --button-shadow-color-hover: hsla(0,0%,42.4%,0.3);
}